@use '../../scss/' as *;


@use '../../scss/' as *;

.section{
    width: 100%;
    padding-bottom:24px;
    margin-bottom: 24px;
    &-item{
        &__title{
            display: flex;
            justify-content: center;
            >h2{
                font-size: 2.2rem;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 16px;
                color:$header-color;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    bottom:-12px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 2px;
                    background-color: $header-color;
                }
            }
        }  
    }

    .description-project{
        width: 100%;
        margin-top: 12px;

        &__link{
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12px;
            >a{
                color: rgb(36, 153, 231);
                text-decoration: underline;
                &:hover{
                    color: rgb(16, 238, 90);
                }
            }
        }

        &-slider-container{
            position: relative;
            width: 100%;
            display: block;
            .slider-dots-container{
                display: flex;
                justify-content: center;
                margin-top: 16px;
                .slider-dots{
                    display: flex;
                    >li{
                        margin-right: 16px;
                        >.slider-dots__item{
                            border-radius: 50% ;
                            background-color: rgb(4, 14, 59);
                            border: none;
                            padding:4px;
                            cursor: pointer;
                            transition: all 0.5s ease-in-out;
                        }
                        &:hover{
                            >.slider-dots__item{
                                background-color: rgb(22, 229, 236);
                            }
                        }
                    }
                    >li.slick-active{
                        >.slider-dots__item{
                            background-color: rgb(22, 229, 236);
                            transform: scale(1.5);
                        }
                    }
                }
            }
            .btn-vertical-medium{
                border-radius: 50%;
                position: absolute;
                display: none;
                opacity: 0.4;
                &.btn-click-left{
                    top:50%;
                    transform: translateY(-50%);
                    left: 12px;
                }
                &.btn-click-right{
                    top:50%;
                    transform: translateY(-50%);
                    right: 12px;
                }
                &:hover{
                    opacity: 1 !important;
                }
                >i{
                    font-size: 1.8rem;
                    color: #fff;
                }
            }
            &:hover .btn-vertical-medium{
                display: block;
            }
        }
        &-content-container{
            margin-top: 24px;
            padding: 24px 0;
            .project-details{
                display: flex;
                justify-content: space-between;
                .project-details__tech{
                    margin-top: 8px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    >h3{
                        font-size: 1.8rem;
                    }

                    .project-details__tech__listSkill{
                        margin-top: 4px;
                        .project-details__tech__listSkill__item{
                            margin-top: 4px;
                            font-size: 1.6rem;
                            line-height: 1.5;
                        }
                    }
                }
            }

        }
        &__slider{
            width: 100%;
            box-shadow: 1px 2px 3px 3px #999;
            padding: 24px;
            border-radius: 4px;
            &__item{
                width: 100%;
                >img{
                    max-width: 100%;
                }
            }
        }
    }
}