@use '../../scss/' as *;

.section{
    width: 100%;
    padding-bottom:24px;
    margin-bottom: 24px;
    &-item{
        &__title{
            display: flex;
            justify-content: center;
            >h2{
                font-size: 2.2rem;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 16px;
                color:$header-color;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    bottom:-12px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 2px;
                    background-color: $header-color;
                }
            }
        }

        &-content{
            width: 100%;

            >h4{
                >img{
                    margin-right: 12px;
                    @include mobile(){
                        margin:12px 0;
                    }
                }
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                @include mobile(){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }

            &__list{
                font-size: 1.6rem;
                @include mobile(){
                    text-align: center;
                }


                &__item{
                    margin-top: 4px;
                    @include mobile(){
                        margin-top: 8px;
                    }
                    >p{
                        line-height: 1.5;
                        text-align: justify;
                        text-indent: 12px;
                    }
                }
            }
        }

        .list-skill{
            display: grid;
            grid-template-columns: 320px 320px 320px;
            @include tablet(){
                grid-template-columns: 50% 50%;
                padding-left: 100px;
            }
            @include mobile(){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
            }
            &__item{
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                min-height: 100px;
                >i{
                    font-size: 4rem;
                    &.html{
                        color:rgb(248, 122, 19);
                    }
                    &.css{
                        color:rgb(19, 145, 248);
                    }
                    &.scss{
                        color:rgb(248, 19, 145);
                    }
                    &.js{
                        color:rgb(207, 194, 8);
                    }
                    &.nodejs{
                        color:rgb(16, 224, 145);
                    }
                    &.express{
                        color:rgb(224, 16, 16);
                    }
                    &.react{
                        color:rgb(31, 220, 245);
                    }
                    &.redux{
                        color:rgb(177, 31, 245);
                    }
                    &.mongodb{
                        color:rgb(63, 243, 8);
                    }
                }
                >span{
                    margin-left:12px;
                    font-size: 2rem;
                }
            }
        }
    }
}