@use '../../scss/' as *;

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: hsl(180,50%,75%);
    padding: 24px;
    >h3{
        font-size: 2rem;
    }
    .technology{
        display: flex;
        width: 100%;
        padding-left:25%;
        margin-top: 24px;
        &__scope{
            flex:1;
            display: flex;
            align-items: center;
            &__title{
                font-size: 1.6rem;
            }
            &__list{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 120px;
                &__item{
                    font-size: 1.5rem;
                    font-weight: 500;
                    margin-top: 8px;
                    margin-left: 32px;
                    >i{
                        color: hsl(180,30%,50%);
                    }
                }
            }
        }
    }
}