$header-height:120px;
$navbar-mobile-height:40px;


$footer-height:15px;
$footer-bg-color:#a6ccf3;
$footer-header-color:#6b737a;
$footer-text-color:#dee2e6;


$text-color:#000;
$text-color-hover:#000;
$font-color:rgb(4, 18, 19);

$border-color-input:#dddfe2;

$header-color:rgb(8, 106, 233);

$mobile-width:420px;
$tablet-width:1024px;



$font-family:"Roboto" , sans-serif;